.home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
    outline: 1px solid
}


.card{
    margin: 10px ;
    outline: 2px solid rgb(32, 116, 176);
    
}

.title {
color: var(--Text-color)   
}

.itemscond {
color: var(--SubText-color);
}

.condition {
    color: var(--Text-color);
}

.category {
color: var(--Text-color);
}

.itemscateg {
    color: var(--SubText-color);
}

.description {
color: var(--Text-color);
}

.itemsdescrip {
color: var(--SubText-color);
}

.city {
color: var(--Text-color);
}

.itemscity {
color: var(--SubText-color);
}