[data-theme="light"]{
  --background-color: white;
}
[data-theme="dark"]{
  --background-color: #102030;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Condition {
  flex: content;
  margin-right: 68px;
  margin-left: 20px;
  margin-bottom: 15px;
}
